In [1]:
import pandas as pd
from IPython.display import display

# 1. Membaca file Excel
file_path = 'datatimbangan2019-2023_dengan_kecamatan.xlsx'
df = pd.read_excel(file_path)

# 2. Menampilkan 5 baris pertama
print("5 Baris Pertama:")
display(df.head())

# 3. Menampilkan 5 baris terakhir
print("\n5 Baris Terakhir:")
display(df.tail())

# 4. Menampilkan daftar kolom
print("\nDaftar Kolom:")
display(df.columns.tolist())

# 5. Menampilkan informasi struktur data
print("\nInfo Struktur Data:")
df_info = df.info()  # info() tidak mengembalikan objek, jadi cukup dengan print()

# 6. Statistik deskriptif untuk data numerik
print("\nStatistik Deskriptif (Numerik):")
display(df.describe())

# 7. Statistik deskriptif untuk data non-numerik
print("\nStatistik Deskriptif (Non-Numerik):")
display(df.describe(include='object'))

# 8. Jumlah nilai null di setiap kolom
print("\nJumlah Data Null per Kolom:")
display(df.isnull().sum())

# 9. Persentase nilai null di setiap kolom
print("\nPersentase Data Null per Kolom:")
display((df.isnull().mean() * 100).round(2))

# 10. Menampilkan semua baris dengan nilai Kecamatan yang kosong
print("\nSemua Baris dengan Nilai 'Kecamatan' Kosong:")
# Mengatur agar semua baris bisa ditampilkan
pd.set_option('display.max_rows', None)

# Filter baris dengan Kecamatan kosong
kecamatan_kosong = df[df['Kecamatan'].isnull()]
display(kecamatan_kosong)

# 11. Menyimpan hasil ke file Excel dan CSV
kecamatan_kosong.to_excel('kecamatan_kosong.xlsx', index=False)
kecamatan_kosong.to_csv('kecamatan_kosong.csv', index=False)

5 Baris Pertama:

,Tanggal,Hari,Bulan,Tahun,No. Polisi,Barang,SUPPLIER,Netto_kg,Jam,Sopir,Admin,Kecamatan
0,07/01/2023,7,1,2023,AA 8013 XA,Sampah,PASAR REJOWINANGUN,1880,19:22,soleh,Kurniawan BW,Magelang Selatan
1,07/01/2023,7,1,2023,AB 9699 WE,Sampah,PERUM DEPKES MAGELANG,1615,19:21,jatmiko,Kurniawan BW,Magelang Utara
2,07/01/2023,7,1,2023,AA 8066 XA,Sampah,DEPO TIDAR SELATAN,2190,19:20,yusuf,Kurniawan BW,Magelang Selatan
3,07/01/2023,7,1,2023,AA 1975 QH,Sampah,SOROBAYAN BANYUURIP,1340,19:19,aris,Kurniawan BW,Kecamatan Tegalrejo
4,07/01/2023,7,1,2023,AA 1856 QK,Sampah,PASAR TEGALREJO,1550,19:18,seneng,Kurniawan BW,Kecamatan Tegalrejo

5 Baris Terakhir:

,Tanggal,Hari,Bulan,Tahun,No. Polisi,Barang,SUPPLIER,Netto_kg,Jam,Sopir,Admin,Kecamatan
62542,03/01/2019,3,1,2019,AA 2331 YA,Sampah,DLH KOTA MAGELANG,610,11:21,MULYANTO,KURNIAWAN,Magelang Utara
62543,03/01/2019,3,1,2019,AA 9578 AA,Sampah,DLH KOTA MAGELANG,460,11:20,PRIYONO,KURNIAWAN,Magelang Utara
62544,03/01/2019,3,1,2019,AA 9577 FA,Sampah,DLH KOTA MAGELANG,1530,11:06,x,KURNIAWAN,Magelang Utara
62545,03/01/2019,3,1,2019,AA 9539 HA,Sampah,DLH KOTA MAGELANG,4600,10:58,HARTO,KURNIAWAN,Magelang Utara
62546,03/01/2019,3,1,2019,AA 9530 HA,Sampah,DLH KOTA MAGELANG,2310,10:51,x,KURNIAWAN,Magelang Utara

Daftar Kolom:

['Tanggal',
 'Hari',
 'Bulan',
 'Tahun',
 'No. Polisi',
 'Barang',
 'SUPPLIER',
 'Netto_kg',
 'Jam',
 'Sopir',
 'Admin',
 'Kecamatan']

Info Struktur Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62547 entries, 0 to 62546
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tanggal     62547 non-null  object
 1   Hari        62547 non-null  int64
 2   Bulan       62547 non-null  int64
 3   Tahun       62547 non-null  int64
 4   No. Polisi  62547 non-null  object
 5   Barang      62547 non-null  object
 6   SUPPLIER    62547 non-null  object
 7   Netto_kg    62547 non-null  int64
 8   Jam         62547 non-null  object
 9   Sopir       62222 non-null  object
 10  Admin       62547 non-null  object
 11  Kecamatan   62532 non-null  object
dtypes: int64(4), object(8)
memory usage: 5.7+ MB

Statistik Deskriptif (Numerik):

               Hari         Bulan         Tahun      Netto_kg
count  62547.000000  62547.000000  62547.000000  62547.000000
mean      15.823685      6.471501   2020.467616   1540.643612
std        8.713336      3.414196      1.130906   1331.040060
min        1.000000      1.000000   2019.000000      2.000000
25%        8.000000      4.000000   2019.000000    580.000000
50%       16.000000      7.000000   2020.000000   1075.000000
75%       23.000000      9.000000   2021.000000   2020.000000
max       31.000000     12.000000   2023.000000  12670.000000

Statistik Deskriptif (Non-Numerik):

,Tanggal,No. Polisi,Barang,SUPPLIER,Jam,Sopir,Admin,Kecamatan
count,62547,62547,62547,62547,62547,62222,62547,62532
unique,1420,116,3,66,758,2634,121,5
top,10/10/2022,AA 9532 HA,Sampah,DLH KOTA MAGELANG,10:18,A,D,Magelang Utara
freq,74,2338,60415,13581,306,16082,15116,29549

Jumlah Data Null per Kolom:

Tanggal         0
Hari            0
Bulan           0
Tahun           0
No. Polisi      0
Barang          0
SUPPLIER        0
Netto_kg        0
Jam             0
Sopir         325
Admin           0
Kecamatan      15
dtype: int64

Persentase Data Null per Kolom:

Tanggal       0.00
Hari          0.00
Bulan         0.00
Tahun         0.00
No. Polisi    0.00
Barang        0.00
SUPPLIER      0.00
Netto_kg      0.00
Jam           0.00
Sopir         0.52
Admin         0.00
Kecamatan     0.02
dtype: float64

Semua Baris dengan Nilai 'Kecamatan' Kosong:

,Tanggal,Hari,Bulan,Tahun,No. Polisi,Barang,SUPPLIER,Netto_kg,Jam,Sopir,Admin,Kecamatan
15808,22/12/2021,22,12,2021,AA 9845 DA,Sampah,0,130,10:34,d,h,NaN
16174,27/11/2021,27,11,2021,AA 8048 XA,Sampah,0,1375,09:21,S,j,NaN
16533,18/11/2021,18,11,2021,AA 9849 DA,Sampah,0,750,11:10,YANTO,g,NaN
16591,17/11/2021,17,11,2021,AA 9569 GA,Sampah,0,1305,11:10,jumari,g,NaN
17094,17/10/2021,17,10,2021,B 9547 DP,Sampah,0,465,11:05,H,b,NaN
17422,09/10/2021,9,10,2021,AA 1902 WD,Sampah,0,505,09:38,rori,g,NaN
17812,29/09/2021,29,9,2021,AA 9549 HA,0,0,1850,10:53,D,g,NaN
18543,07/09/2021,7,9,2021,AA 9586 GA,Sampah,0,1335,10:20,iwan,g,NaN
18829,01/09/2021,1,9,2021,AA 9846 DA,Sampah,0,350,08:44,a,l,NaN
18904,30/08/2021,30,8,2021,AA 1898 HA,Sampah,0,210,14:01,IWAN,g,NaN
19970,10/08/2021,10,8,2021,AA 9584 AA,Sampah,0,725,08:43,a,moh gama,NaN
20553,29/07/2021,29,7,2021,AA 9829 DA,0,0,510,08:14,s,d,NaN
21187,15/07/2021,15,7,2021,AA 9847 DA,Sampah,0,410,09:49,ikhwan,g,NaN
22577,08/06/2021,8,6,2021,AA 9845 DA,Sampah,0,440,12:40,A,A.,NaN
23632,11/05/2021,11,5,2021,AA 9541 HA,Sampah,0,570,16:14,NaN,L,NaN